<!-- wp:template-part {"slug":"header","theme":"financio","area":"header"} /-->

<!-- wp:pattern {"slug":"financio/financio-hero-index-title"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"120px","bottom":"100px","right":"20px","left":"20px"}}},"layout":{"contentSize":"1140px","type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:120px;padding-right:20px;padding-bottom:100px;padding-left:20px"><!-- wp:query {"queryId":24,"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
<div class="wp-block-query"><!-- wp:post-template {"className":"startupzy-animate startupzy-move-up startupzy-delay-5","style":{"spacing":{"blockGap":"30px"},"elements":{"link":{"color":{"text":"var:preset|color|theme-0"},":hover":{"color":{"text":"var:preset|color|theme-11"}}}}},"textColor":"theme-1","layout":{"type":"grid","columnCount":3}} -->
<!-- wp:post-featured-image {"isLink":true,"align":"wide","style":{"spacing":{"margin":{"bottom":"20px"}},"border":{"radius":"10px"}}} /-->

<!-- wp:post-date {"style":{"typography":{"fontSize":"14px"}},"textColor":"theme-0"} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-1"},":hover":{"color":{"text":"var:preset|color|theme-0"}}}},"typography":{"fontStyle":"normal","fontWeight":"500","lineHeight":"1.7"}},"textColor":"theme-1","fontSize":"heading-4"} /-->

<!-- wp:post-excerpt {"moreText":"Read More","style":{"spacing":{"margin":{"top":"20px","bottom":"20px"}},"elements":{"link":{"color":{"text":"var:preset|color|theme-0"},":hover":{"color":{"text":"var:preset|color|theme-11"}}}}},"textColor":"theme-2"} /-->
<!-- /wp:post-template -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-pagination {"paginationArrow":"arrow","style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-0"},":hover":{"color":{"text":"var:preset|color|theme-11"}}}}},"textColor":"theme-1","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"financio","area":"footer"} /-->